# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Datos (Archivos pesados)
data/raw/*.zip
data/raw/*.SAFE
data/processed/*.tif
data/processed/*.csv

# IDEs
.vscode/
.idea/
data/changes/*.tif
